.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
/dist/
/.nb-gradle/
.DS_Store
.direnv/
.opencode/
run/
logs/
